@model ESchool.Models.Quiz
@{
    ViewData["Title"] = "Quiz" + Model.Name;
}


<h1>@Model.Name</h1>
<h4>Start: @Html.DisplayFor(e => e.Start)</h4>
<h4>Finish: @Html.DisplayFor(e => e.Finish)</h4>

@if (Model.Questions != null && Model.Questions.Any()) {

    <table class="table table-bordered table-hover">
    @foreach(var question in Model.Questions) {
        <tr>
            <td>@question.QuestionContent</td>
            <td>@Html.ActionLink("Edit", "Edit", "Questions", new {id = question.Id}, new {@class = "btn btn-dark"})</td>
        </tr>
    }
    </table>
    var playLink = Url.ActionLink("Play", "Quiz", new {id = Model.Questions.First().Id});
    <p>
        Podziel się swoim quizem: <a href=@playLink>@playLink</a>
    </p>
} else {
    <p>There aren't any questions yet!</p>
}



@Html.ActionLink("Add question", "Add", "Questions", new {id = Model.Id}, new {@class = "btn btn-primary"})
@Html.ActionLink("Remove this quiz", "Remove", "Quiz", new {id = Model.Id}, new {@class = "btn btn-danger"})