@model ESchool.Models.Participant;
@{
    ViewData["Title"] = "Your score!";
}

<h1>Your score in quiz @Model.Quiz.Name</h1>
@{
    var time = Model.Submitted - Model.Joined;
    var formattedtime = time.Hours + "h " + time.Minutes + "min " + time.Seconds + "s"; 
    var percentage = Math.Round((((double)Model.Points)/Model.Quiz.Questions.Count) * 100, 2) + "%";
}
<table class="table table-bordered table-hover table-striped">
    <tr><td>Time</td><td>@formattedtime</td></tr>
    <tr><td>Joined</td><td>@Model.Joined</td></tr>
    <tr><td>Submitted</td><td>@Model.Submitted</td></tr>
    <tr><td>Points</td><td>@Model.Points / @Model.Quiz.Questions.Count</td></tr>
    <tr><td>Percentage score</td><td>@percentage</td></tr>
</table>

@if (Model.Quiz.Finish <= DateTime.Now) {
    <h2>Correct answers:</h2>
    <table class="table table-bordered table-hover table-dark">
        @foreach (var question in Model.AnsweredQuestions) {
            <tr>
                <td>
                    @question.QuestionContent
                </td>
                @if (question.IsAnswer1Correct) {
                <td>
                    A. @question.Answer1
                </td>
                }
                @if (question.IsAnswer2Correct) {
                <td>
                    B. @question.Answer2
                </td>
                }

                @if (question.IsAnswer3Correct) {
                <td>
                    C. @question.Answer3
                </td>
                }

                @if (question.IsAnswer4Correct) {
                <td>
                    D. @question.Answer4
                </td>
                }

            </tr>
       }
    </table>
} else {
    <h2>Correct answers will be here at @Model.Quiz.Finish, wait patiently.</h2>
}